<div class="banner">
  <img src="<%= asset_path 'ezcar_logotype.png' %>" alt="EzCar Logo" class="logo">
  <div class="search-container">
    <input type="text" class="search-bar" placeholder="Search for a car...">
    <%= link_to "Search for a car!", cars_path, class: "search-link btn btn-primary" %>
  </div>
</div>
