// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "map";
@import "address_autocomplete";

// components/_index.scss

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  .placeholder-image {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0; // Light grey background for the placeholder
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 1.5rem;
  }

  .card-body {
    h5.card-title {
      font-size: 1.25rem;
      font-weight: bold;
    }
    p.card-text {
      margin-bottom: 0.5rem;
    }
  }

  .card-footer {
    background-color: #f8f9fa;
    .btn-success {
      background-color: #28a745;
      border-color: #28a745;
      cursor: default;
    }
  }
}

.sticky-container {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.sticky-map {
  width: 100%;
  height: 600px;
}

form.d-flex {
  margin-bottom: 2rem;
}

.list-group-item {
  cursor: pointer;
}
