.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 30px;
  height: 30px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
