<%#= image_tag "logo.png", height: 30, width: 30, alt: "Logo" %>
<div class="badge border border-dark bg-white rounded-pill fs-6">
  <p class="text-dark m-0">R$ <%= car.daily_price/100 %> </p>
</div>
